@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.carousel-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-columns: 44rem;
  grid-auto-flow: column;
  gap: 4rem;
  margin-left: 26rem;
  margin-bottom: 10rem;
  overflow-x: auto;
  width: 166rem;
  .carousel-item {
    @include flexColumn;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    span {
      @include subHeaderStyles;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.2rem 1.9rem;
      background-color: $darkBlue;
      border-top-left-radius: 5px;
    }

    .carousel-image-box {
      display: flex;
      align-items: center;
      width: 44rem;
      height: 43.6rem;
      overflow: hidden;
      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: 100%;
      }
    }

    & > div:last-child {
      @include flexColumn;
      padding: 0 3rem 7.4rem;
      flex-grow: 1;
      align-items: center;
      gap: 2rem;
      background-color: $darkBlue;

      p {
        @include regularText;
        color: $white;
        width: 100%;
        text-align: center;
        flex-grow: 1;
      }

      h4 {
        margin-top: 3rem;
        @include subHeaderStyles;
      }

      button {
        @include buttonStyles("", $orange);
        @include flexAlignCenter(1.1rem);
        padding: 2.6rem 2.9rem;

        &:hover {
          @include buttonStyles($orange, $white);
        }
      }
    }
  }

  @media (max-width: 1200px) {
    width: 112.7rem;
    gap: 2rem;
    margin-left: 4rem;
    margin-bottom: 5rem;
  }
  @media (max-width: 880px) {
    width: 64rem;
    margin: 0;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 29rem);
    .carousel-item {
      .carousel-image-box {
        width: 29rem;
        height: 33rem;
      }
      & > div:last-child {
        padding: 1.5rem 2.5rem;
        width: 29rem;
      }
    }
  }
}
