@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.initial-pop-up {
  .image-container {
    @include flexAlignCenter();
    position: relative;

    button {
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
  }

  .donation-amount-container {
    background-color: $white;
    padding-top: 2rem;
    padding-bottom: 5rem;
    @include flexColumn(3rem);
    align-items: center;
    justify-content: center;

    h2,
    p {
      text-align: center;
    }

    h2 {
      width: 58%;
      @include heading2Styles($orange);
    }

    p {
      @include regularText;
      width: 49%;
    }

    .donation-amount {
      @include flexAlignCenter(4rem);
      & > button {
        @include buttonStyles($lightGreen, $white);
        &:hover {
          background-color: $lightGreenHover;
        }
        &:not(:last-child) {
          padding: 2.15rem 4.3rem;
        }
        &:last-child {
          padding: 2.15rem;
        }
      }
    }
  }
}
