@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.article-arrows {
  width: 47.9%;
  @include flexColumn(5rem);
  align-items: center;

  h2 {
    @include heading2Styles($lightGreen);
  }

  & > div {
    @include flexColumn;
    align-items: center;

    p {
      @include subHeaderStyles;
      color: black;
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    width: 69.1%;

    & > div {
      p {
        text-align: center;
      }
    }
  }
  @media (max-width: 880px) {
    width: 100%;
    text-align: center;
  }
}
