@use "mixins" as *;
@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
  font-family: "Montserrat", sans-serif;
}

textarea {
  resize: none;
}

.error-message,
.loader {
  @include subHeaderStyles();
}

.error-message {
  color: #d32f2f;
}

.loader {
  color: $lightGreen;
}
