@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
  font-family: "Montserrat", sans-serif;
}

textarea {
  resize: none;
}

.error-message,
.loader {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
}

.error-message {
  color: #d32f2f;
}

.loader {
  color: #00a092;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0;
}
header .logo-links {
  padding: 0 26rem;
  display: flex;
  align-items: center;
  gap: 0;
  background-color: #f58021;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
header .logo-links > .link-container {
  display: flex;
  align-items: center;
  gap: 0;
  gap: 6.7rem;
}
header .logo-links .page-navigation > ul a {
  color: #000000;
}
header .logo-links .page-navigation > ul a:hover {
  color: #00a092;
}
header .logo-links .page-navigation > ul a.active {
  color: #00a092;
}
header .logo-links .user-box .user-name {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
}
header .logo-links .user-box .user-avatar {
  display: flex;
  align-items: center;
  gap: 0;
}
header .logo-links .user-box .user-avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1.5rem;
}
header .logo-links .pop-up-authorization.hidden,
header .logo-links .pop-up-sign-out.hidden {
  display: none;
}
header .logo-links .pop-up-authorization,
header .logo-links .pop-up-sign-out {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(197, 130, 99, 0.968);
  border-radius: 10px;
  padding: 2rem 4rem;
  z-index: 1000;
}
header .logo-links .pop-up-authorization .btn-cancel-auth,
header .logo-links .pop-up-sign-out .btn-cancel-auth {
  align-self: flex-end;
}
header .logo-links .pop-up-authorization .btn-cancel-auth img,
header .logo-links .pop-up-sign-out .btn-cancel-auth img {
  width: 20px;
}
header .logo-links .pop-up-authorization h3,
header .logo-links .pop-up-sign-out h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  color: #000000;
  text-align: center;
}
header .logo-links .pop-up-authorization ul,
header .logo-links .pop-up-sign-out ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}
header .logo-links .pop-up-authorization ul li,
header .logo-links .pop-up-sign-out ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 500;
  padding-bottom: 1px;
}
header .logo-links .pop-up-authorization ul li:hover,
header .logo-links .pop-up-sign-out ul li:hover {
  border-bottom: 1px solid #000000;
}
header .logo-links .pop-up-authorization ul li a,
header .logo-links .pop-up-sign-out ul li a {
  color: #000000;
}
header .logo-links .pop-up-sign-out .btn-cancel-sign-out {
  align-self: flex-end;
}
header .logo-links .pop-up-sign-out ul > li {
  color: #ffffff;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
}
header .logo-links .pop-up-sign-out ul > li:hover {
  border-bottom: none;
}
header .logo-links .pop-up-sign-out .btn-sign-out {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff1f0;
  background-color: #cf1322;
  padding: 1.2rem 2rem;
  align-self: center;
}
header .btn-humburger-menu,
header .btn-cancel-header {
  display: none;
}
@media (max-width: 1200px) {
  header .logo-links {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (max-width: 880px) {
  header .page-navigation {
    display: none;
  }
  header .social-networks {
    display: none;
  }
  header .btn-humburger-menu {
    display: block;
  }
  header .page-navigation.open {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #20113d;
    padding: 4rem 4.7rem 26.9rem;
  }
  header .page-navigation.open ul {
    flex-direction: column;
    gap: 5rem;
    padding: 0 4rem;
  }
  header .page-navigation.open ul li > a {
    color: #ffffff;
  }
  header .page-navigation.open .btn-cancel-header {
    display: block;
    align-self: flex-end;
  }
}

#overlay,
#auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.hidden {
  display: none;
}

.page-navigation > ul {
  display: flex;
  align-items: center;
  gap: 4.825rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 3rem;
}

footer {
  padding: 0 26rem;
  padding-top: 7rem;
  padding-bottom: 3.6rem;
  background-color: #20113d;
}
footer .logos-and-links {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
}
footer .logos-and-links > div {
  display: flex;
  align-items: center;
  gap: 6.5rem;
}
footer .logos-and-links .page-navigation > ul a {
  color: #ffffff;
}
footer .logos-and-links .page-navigation > ul a:hover {
  color: #00a092;
}
footer .logos-and-links button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffffff;
  padding: 2.6rem 2.3rem;
}
footer .logos-and-links button:hover {
  background-color: #00a092;
}
footer hr {
  margin: 7rem 0 4.4rem;
}
footer .credits-and-social-networks {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
}
footer .credits-and-social-networks .credits {
  display: flex;
  align-items: center;
  gap: 5rem;
}
footer .credits-and-social-networks .credits span {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
@media (max-width: 1200px) {
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  footer .logos-and-links,
  footer .credits-and-social-networks {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  footer .logos-and-links > div {
    gap: 3rem;
  }
  footer .logos-and-links nav > ul {
    gap: 2rem;
  }
}
@media (max-width: 880px) {
  footer {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  footer .logos-and-links {
    flex-direction: column;
    gap: 5rem;
  }
  footer .logos-and-links > div, footer .logos-and-links > nav {
    width: 100%;
  }
  footer .logos-and-links > div, footer .logos-and-links > nav > ul {
    justify-content: space-between;
  }
  footer .credits-and-social-networks {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  footer .credits-and-social-networks .credits {
    width: 100%;
    justify-content: space-between;
  }
}

.panda-container {
  padding: 0 26rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  padding-top: 12.9rem;
  padding-bottom: 12.9rem;
  background-image: url(/images/about/panda.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1200px) {
  .panda-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.panda-container h1 {
  font-weight: 800;
  font-size: 82px;
  line-height: 100%;
  letter-spacing: 1%;
  text-transform: uppercase;
  width: 74.1666666667%;
  color: #00a092;
}
.panda-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 35.8333333333%;
}
.panda-container button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f58021;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2.6rem 3rem;
}
.panda-container button:hover {
  background-color: #d26004;
}
@media (max-width: 880px) {
  .panda-container {
    background-position: top 9rem right -31rem;
    padding: 5rem 8.3rem 5rem 2rem;
  }
  .panda-container h1 {
    width: 100%;
  }
  .panda-container p {
    width: 63%;
  }
}/*# sourceMappingURL=HeroBanner.css.map */