@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.feedback-container {
  background-image: url(./images/about/panda-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 26rem;
  padding-bottom: 15rem;
  padding-top: 15rem;

  .arrows-box {
    margin-top: 3rem;
    button {
      border: 1px solid $white !important;

      svg {
        fill: white;
      }

      &:hover {
        background-color: white;

        svg {
          fill: $darkBlue;
        }
      }
    }
  }

  .users-feedback {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
  }

  .users-feedback > div:first-child {
    h2 {
      @include heading2Styles($white);
      margin-bottom: 5rem;
    }

    p {
      @include subHeaderStyles;
      width: 100%;
    }
  }

  .feedback-carousel-cotainer {
    @include flexColumn(6rem);
  }

  .feedback-carousel {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-columns: 51.3rem;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    width: 103rem;
    gap: 3rem;
    padding-bottom: 2rem;

    & > section {
      @include flexColumn;
      align-items: flex-start;
      gap: 2rem;
      padding: 5rem 5rem 7rem 5rem;
      background-color: $white;
      border-radius: 5px;

      h4 {
        @include subHeaderStyles;
        color: $black;
      }

      p {
        @include regularText;
        width: 100%;
      }

      span {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
      }
    }
  }

  .btn-leave-feedback {
    @include buttonStyles(transparent, $white);
    @include flexAlignCenter(1rem);
    border: 1px solid $white;
    margin-top: 37.6rem;
    padding: 2.6rem 7.7rem;

    &:hover {
      background-color: $lightGreen;
    }
  }

  @media (max-width: 1200px) {
    padding-left: 4rem;

    .users-feedback {
      flex-direction: column;
      align-items: flex-start;

      & > div:first-child {
        width: 51.5%;
        h2 {
          margin-bottom: 3rem;
        }
      }

      .feedback-carousel {
        padding-left: 10rem;
      }
    }

    .btn-leave-feedback {
      margin-left: 11.5rem;
    }
  }

  @media (max-width: 880px) {
    overflow-x: hidden;
    .users-feedback > div:first-child {
      h2 {
        width: 50%;
      }
      width: 100%;
      padding: 0 2rem;
    }
    .feedback-carousel {
      overflow-x: hidden;
      grid-auto-flow: column;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 52rem);
      .arrows-box.feedback {
        display: none;
      }
    }
    .btn-leave-feedback {
      margin-top: 5rem;
    }
  }
}
